<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="kulso">
        <a routerLink="/main" href="#" class="previous round">&#8249;</a>
        <div id="belso"k>
            <label>Új háttérkép választása</label><br>
            <input type="file" id="selectedFile" style="display: none;" (change)="saveURL($event)"/>
            <input id="choose" type="button" value="Feltöltés..." onclick="document.getElementById('selectedFile').click();">
        </div>
    </div>
</body>

<script>



</script>